.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
font-size: 20px;
max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    padding-right: 80px;
    background: #323232;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 18px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(264deg,#df8908 -5.09%,#b415ff 106.4%);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.footer-subscribe:hover{
    transition: 0.3s;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
@media(max-width: 768px){
    .footer{
        margin: 50px 70px;

    }
    .footer-top{
        flex-direction: column;
        gap: 50px;

    }
    .footer-buttom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;    
    }
}